* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.icon {
  height: 32px;
  width: 32px;
}

.today-group,
.tm-group,
.todays-weather,
.top-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.top-group, .today-group, .tm-group {
  justify-content: space-between;
  width: 100%;
}

.top-group, .current-top-group {
    border-bottom: 2px solid black;
}

.today-weather-group, .current-weather {
  margin: 16px;
  padding: 8px;
  width: 800px;
  border: 2px solid black;
  border-radius: 4px;
}

.todays-weather {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 8px;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.current-top-group { 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
}

.current-left-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    
}

.current-right-group {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 50%;
}

.current-main {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.right-group-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-direction: row;
}

.big-temp {
    font-size: 48px;
}

.big-icon { 
    height: 60px;
    width: 60px;
    margin-right: 8px;
}

.user-controls {
  display: flex;
  flex-direction: column;
  margin: 16px;
  justify-content: center;
  align-items: center;
}

#submit {
  height: 28px;
}

.hourly-weather {
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 800px;
  margin: 16px;
  padding: 8px;
}

.hourly-weather > p {
  border-bottom: 2px solid black;
  width: 100%;
}

.hourly {
  display: flex;
  width: 784px;
  overflow: auto;
}

.hours-container > img {
  width: 32px;
}

.hours-container > p {
  font-size: 12px;
}

.hours-container {
  display: flex;
  flex-direction: column;
  padding: 16px;
  min-width: 100px;
  justify-content: space-between;
}

.tenday > div > img {
  width: 32px;
} 

.tendayforecast {
  border: 2px solid black;
  margin-top: 16px;
  border-radius: 4px;
  width: 800px;
  padding: 8px;
}

.tendayforecast > p {
  border-bottom: 2px solid black;
}

.tenday-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 8px;
  height: 40px;
}

.tenday-container > img {
  margin-right: 16px;
}

.ten-day-date { 
  margin-right: 16px;
}

.ten-day-temp {
  margin-right: 16px;
}

footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 32px;
}

#search-box {
  height: 44px;
  width: 400px;
  margin: 16px;
  border-radius: 8px;
  padding: 8px;
}

.radio-group {
  margin: 16px;
  display: flex;
 
}

label {
  display: flex;
  justify-content: center;
  margin: 8px;
}

.radio-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #007bff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #007bff;
}

input[type="radio"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 600px) {
  .today-weather-group, .current-weather, .hourly-weather, .tendayforecast {
    width: 400px;
  }

  .hourly {
    width: 386px;
  }

  #location-heading {
    font-size: 24px;
  }

  footer {
    margin: 0;
    margin-top: 32px;
  }

  #search-box {
    width: 400px;
  }
}